<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AddProduct</title>
</head>
<body>
<div>
    <form method="post" action="#">
        name: <input type="text" name="name"/><br>
        description: <input type="text" name="description"/><br>
        category: <input type="text" name="category"/><br>
        brand: <input type="text" name="brand"/><br>
        maxprice: <input type="text" name="maxprice"/><br>
        minprice: <input type="text" name="minprice"/><br>
        offer: <input type="text" name="offer"/><br>
        offerduration: <input type="text" name="offerduration"/><br>
        specification: <input type="text" name="specification"/><br>
        <input type="submit" value="Submit">

    </form>
</div>

</body>
</html>