<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
</head>
<body>
<div>
    <form action="" method="post">
        User Name: <input name="username" type="text" placeholder="Enter Email"><br>
        password: <input name="password" type="password" placeholder="Password"><br>
        <input type="submit" value="LOGIN"><br>
    </form>
</div>
<div>
    <form action="/forgot" method="post">

        Forgot password <input type="submit" value="Forgot"><br>
    </form>
</div>
<div>
    <form action="/register">
        <label>New User Click Here</label>
        Register: <input value="Register" type="submit">
    </form>
</div>
</body>
</html>